---
import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";
import DocsContent from "@/content/docs.md";
---

<BaseLayout>
  <SeoPage slot="head" title="Docs | Barebones" />
  <h1 class="sr-only">Documentation</h1>
  <div class="prose dark:prose-invert prose-neutral">
    <DocsContent />
  </div>
</BaseLayout>
