---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Posts from "@/components/Posts.astro";
import Personnages from "@/components/Personnages.astro";
---

<BaseLayout>
  <div>
    <!-- <Introduction />
    <div class="prose dark:prose-invert prose-neutral my-12"><hr /></div> -->
    <Posts />
    <div class="prose dark:prose-invert prose-neutral my-12"><hr /></div>
    <Personnages />
  </div>
</BaseLayout>
