---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Posts from "@/components/Posts.astro";
import Projects from "@/components/Projects.astro";
import SeoPage from "@/components/SeoPage.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Introduction />
    <div class="prose dark:prose-invert prose-neutral my-12"><hr /></div>
    <h2>Test</h2>
    <Posts />
    <div class="mt-12">
      <Projects />
    </div>
    <div class="mt-12">
      <SocialLinks />
    </div>
  </div>
</BaseLayout>
