---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Personnage from "@/components/Personnage.astro";

import { getCollection } from "astro:content";

const personnages = await getCollection('personnages');
---

<BaseLayout>
  <div>
    <ul>
      {personnages.map((personnage) => <Personnage personnage={personnage} />)}
    </ul>
  </div>
</BaseLayout>