---
import { SITE } from "@/siteConfig";
import ThemeToggle from "@/components/ThemeToggle.astro";

const year = new Date().getFullYear();
---

<footer class="mx-auto flex w-full flex-col items-start gap-6 sm:pt-10 sm:pb-0 sm:items-center sm:justify-center sm:gap-8 p-0 sm:p-6">
  <div class="w-full flex justify-between">
    <!-- <ThemeToggle /> -->
    <!-- <span class="prose dark:prose-invert prose-neutral mt-2">{year} {SITE.author}</span> -->
  </div>
  <img src={"/footer.png"} alt="footer" />
</footer>