<section class="prose dark:prose-invert prose-neutral">
  <p>
    Welcome to Barebones, an open source template for <a href="https://astro.build/">Astro</a> designed for simplicity and flexibility. Whether you're a seasoned developer
    or just starting out, Barebones provides everything you need to kickstart your
    next blog with minimal setup.
  </p>
  <p>
    Head over to the <a href="https://github.com/trevortylerlee/barebones">repository</a> and check out our <a href="/docs">documentation</a> to get started.
  </p>
</section>
