---
import { getCollection } from "astro:content";
import Personnage from "@/components/Personnage.astro";

const personnages = await getCollection('personnages');
---

<section>
  <div class="prose dark:prose-invert prose-neutral mb-3">
    <h2>Les aventuriers</h2>
  </div>
  <ul class="flex flex-wrap gap-32">
  {personnages.map((personnage) => <Personnage personnage={personnage} />)}
  </ul>
</section>