---
import { getCollection } from "astro:content";
import Post from "@/components/Post.astro";

// const posts = (await getCollection("posts")).sort(
//   (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
// );

const posts = await getCollection("posts");
---

<section>
  <div class="prose dark:prose-invert prose-neutral mb-3">
    <h2>La revue des p'tites souris</h2>
  </div>
  <ul class="grid list-none gap-4 p-0">
    {posts.map((post) => <Post post={post} />)}
  </ul>
</section>
