---
import "@/styles/global.css";

import { SITE } from "@/siteConfig";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Navigation from "@/components/Navigation.astro";
---

<html lang={SITE.locale}>
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="bg-bg font-sans">
    <Navigation />
    <div class="mx-auto max-w-screen-sm p-3 pb-0 sm:p-6 sm:pb-0">
      <main class="min-h-[80vh]">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
